@page "/admin"
@using Microsoft.EntityFrameworkCore
@model Awch.Site.Pages.Admin

@{
    Layout = "Shared/_Layout";
}

<div>
    <a href="/CoreAdminData/Index/ImageRecords">Click here to access the image record table.</a>
    <br />
    <a href="https://new.contabo.com/storage/object-storage/buckets/awch-data/images%2F?region=European%20Union%20(Germany)%202&s3TenantId=fca3d8a9a6c74b6db1893a288dbe0a7e">
        Click here to go to the image storage bucket.
    </a>
</div>
<div>
    <ul>
        <li>
            <b>Images in database: </b> @(await Model.Context.ImageRecords.CountAsync())
            
        </li>
        <li>
            <b>Last leaderboard update:</b> @Model.Stats.GetLastUpdated()
        </li>
    </ul>
</div>
<div>
    <h4>Add new image:</h4>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.Url" class="form-control" aria-required="true"/>
            <label asp-for="Input.Url" class="form-label"></label>
            <span asp-validation-for="Input.Url" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-floating">
            <input asp-for="Input.Submitter" class="form-control" autocomplete="current-password" aria-required="true"/>
            <label asp-for="Input.Submitter" class="form-label"></label>
            <span asp-validation-for="Input.Submitter" class="text-danger"></span>
        </div>
        <br />
        <div>
            <button id="login-submit" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>