@page
@model Awch.Site.Pages.Admin

@{
    Layout = "Shared/_Layout";
}

<div>
    <a href="/CoreAdminData/Index/ImageRecords">Click here to access the image record table.</a>
    <br />
    <a href="https://new.contabo.com/storage/object-storage/buckets/awch-data/images%2F?region=European%20Union%20(Germany)%202&s3TenantId=fca3d8a9a6c74b6db1893a288dbe0a7e">
        Click here to go to the image storage bucket.
    </a>
</div>