@page "/admin"
@using Microsoft.EntityFrameworkCore
@model Awch.Site.Pages.Admin

@{
    Layout = "Shared/_AdminLayout";
}

<div style="margin-bottom: 20px">
    <a href="/CoreAdminData/Index/ImageRecords">Image Record Table</a>
</div>
<div>
    <h4>Statistics</h4>
    <ul>
        <li>
            <b>Images in database: </b> @(await Model.Context.ImageRecords.CountAsync())
        </li>
        <li>
            <b>Last leaderboard update:</b> @Model.Stats.GetLastUpdated()
        </li>
    </ul>
</div>
<div>
    <h4>Add New Image</h4>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.Url" class="form-control" aria-required="true"/>
            <label asp-for="Input.Url" class="form-label"></label>
            <span asp-validation-for="Input.Url" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-floating">
            <input asp-for="Input.Submitter" class="form-control" autocomplete="current-password" aria-required="true"/>
            <label asp-for="Input.Submitter" class="form-label"></label>
            <span asp-validation-for="Input.Submitter" class="text-danger"></span>
        </div>
        <br />
        <div>
            <button id="login-submit" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>