@page
@model Awch.Site.Views.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <img src="@Model.ImageUrl" alt="cool animal with cool hat"/>
    <div>
        <small>
            this site is funded by donations. feel free to donate: 
        </small>
    </div>
</div>
</body>
</html>