@page
@model Awch.Site.Views.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <img style="max-width:600px;" src="@Model.ImageUrl" alt="cool animal with cool hat"/>
    <div>
        <small>
            this site is funded by donations. feel free to <a href="https://github.com/sponsors/jacksonrakena">donate</a>.
            <br />
            feel free to send us submissions at <a href="mailto:submissions@animalswithcoolhats.com">submissions@animalswithcoolhats.com</a>
        </small>
    </div>
</div>
</body>
</html>